{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"errors\":[{\"status\":\"404\",\"code\":\"record_not_found\",\"title\":\"Record Not Found\",\"detail\":\"The requested record was not found\",\"meta\":{},\"source\":{}}]}"
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "content-type": [
            "application/vnd.api+json; charset=utf-8"
          ]
        }
      },
      "request": {
        "uri": "https://api.productive.io/api/v2/projects/999999999",
        "body": {
          "encoding": null,
          "string": ""
        },
        "method": "get",
        "headers": {
          "content-type": [
            "application/vnd.api+json"
          ]
        }
      },
      "recorded_at": "Mon, 23 Mar 2026 19:43:25 +0000"
    }
  ],
  "recorded_with": "rVCR 0.2.2"
}