{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"errors\":[{\"status\":\"422\",\"code\":\"invalid_attribute\",\"title\":\"Invalid Attribute\",\"detail\":\"can't be blank\",\"meta\":{},\"source\":{\"pointer\":\"data/attributes/title\"}},{\"status\":\"422\",\"code\":\"invalid_attribute\",\"title\":\"Invalid Attribute\",\"detail\":\"can't be blank\",\"meta\":{},\"source\":{\"pointer\":\"data/attributes/project\"}},{\"status\":\"422\",\"code\":\"invalid_attribute\",\"title\":\"Invalid Attribute\",\"detail\":\"can't be blank\",\"meta\":{},\"source\":{\"pointer\":\"data/attributes/task_list\"}}]}"
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "headers": {
          "content-type": [
            "application/vnd.api+json; charset=utf-8"
          ]
        }
      },
      "request": {
        "uri": "https://api.productive.io/api/v2/tasks",
        "body": {
          "encoding": null,
          "string": "{\"data\":{\"attributes\":{},\"type\":\"tasks\"}}"
        },
        "method": "post",
        "headers": {
          "content-type": [
            "application/vnd.api+json"
          ]
        }
      },
      "recorded_at": "Mon, 23 Mar 2026 19:43:22 +0000"
    }
  ],
  "recorded_with": "rVCR 0.2.2"
}